[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
host_key_checking  = True
retry_files_enabled = False
stdout_callback    = yaml
interpreter_python = auto_silent
forks              = 3
timeout            = 30
# Vault: exportar ANSIBLE_VAULT_PASSWORD_FILE o usar --ask-vault-pass
[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15
